# Importing libraries

In [1]:
# import libraries
import pandas as pd
import numpy as np
import os

# Importing Dataframes

In [4]:
path = r'C:\Users\Kamron\Downloads\Achievement 4'

In [6]:
# importing df
ords_prods_merge = pd.read_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'orders_products_merged_updated.pkl'))

In [7]:
# creating a subset of ords_prods_merge
df =  ords_prods_merge[:1000000]

In [8]:
df.shape

(1000000, 19)

In [9]:
df.head(10)

,order_id,user_id,eval_set,order_number,orders_day_of_week,order_hour_of_day,days_since_last_order,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,prices,_merge,busiest_day,Busiest_days,busiest_days,busiest_period_of_day
0,2539329,1,prior,1,2,8,NaN,196,1,0,Soda,77,7,9.0,both,Regular busy,Regularly days,Regularly days,Average orders
1,2398795,1,prior,2,3,7,15.0,196,1,1,Soda,77,7,9.0,both,Regular busy,Slowest days,Slowest days,Average orders
2,473747,1,prior,3,3,12,21.0,196,1,1,Soda,77,7,9.0,both,Regular busy,Slowest days,Slowest days,Most orders
3,2254736,1,prior,4,4,7,29.0,196,1,1,Soda,77,7,9.0,both,Least busy,Slowest days,Slowest days,Average orders
4,431534,1,prior,5,4,15,28.0,196,1,1,Soda,77,7,9.0,both,Least busy,Slowest days,Slowest days,Most orders
5,3367565,1,prior,6,2,7,19.0,196,1,1,Soda,77,7,9.0,both,Regular busy,Regularly days,Regularly days,Average orders
6,550135,1,prior,7,1,9,20.0,196,1,1,Soda,77,7,9.0,both,Regular busy,Busiest days,Busiest days,Average orders
7,3108588,1,prior,8,1,14,14.0,196,2,1,Soda,77,7,9.0,both,Regular busy,Busiest days,Busiest days,Most orders
8,2295261,1,prior,9,1,16,0.0,196,4,1,Soda,77,7,9.0,both,Regular busy,Busiest days,Busiest days,Average orders
9,2550362,1,prior,10,4,8,30.0,196,1,1,Soda,77,7,9.0,both,Least busy,Slowest days,Slowest days,Average orders

In [10]:
# Grouping Data with pandas
df.groupby('product_name')

In [11]:
# Aggregating Data with agg()
df.groupby('department_id').agg({'order_number' : ['mean']})

              order_number
                      mean
department_id
4                18.825780
7                17.472355
13               17.993423
14               19.246334
16               19.463012
17               11.294069
19               19.305237
20               17.599636

In [12]:
# Performing Multiple aggregations
df.groupby('department_id').agg({'order_number' : ['mean', 'min', 'max']})

              order_number
                      mean min max
department_id
4                18.825780   1  99
7                17.472355   1  99
13               17.993423   1  99
14               19.246334   1  99
16               19.463012   1  99
17               11.294069   1  98
19               19.305237   1  99
20               17.599636   1  99

### 2. Create a loyalty flag using loc

In [13]:
# Aggregating Data with transform
ords_prods_merge['max_order'] = ords_prods_merge.groupby(['user_id'])['order_number'].transform(np.max)

In [14]:
ords_prods_merge.head(15)

,order_id,user_id,eval_set,order_number,orders_day_of_week,order_hour_of_day,days_since_last_order,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,prices,_merge,busiest_day,Busiest_days,busiest_days,busiest_period_of_day,max_order
0,2539329,1,prior,1,2,8,NaN,196,1,0,Soda,77,7,9.0,both,Regular busy,Regularly days,Regularly days,Average orders,10
1,2398795,1,prior,2,3,7,15.0,196,1,1,Soda,77,7,9.0,both,Regular busy,Slowest days,Slowest days,Average orders,10
2,473747,1,prior,3,3,12,21.0,196,1,1,Soda,77,7,9.0,both,Regular busy,Slowest days,Slowest days,Most orders,10
3,2254736,1,prior,4,4,7,29.0,196,1,1,Soda,77,7,9.0,both,Least busy,Slowest days,Slowest days,Average orders,10
4,431534,1,prior,5,4,15,28.0,196,1,1,Soda,77,7,9.0,both,Least busy,Slowest days,Slowest days,Most orders,10
5,3367565,1,prior,6,2,7,19.0,196,1,1,Soda,77,7,9.0,both,Regular busy,Regularly days,Regularly days,Average orders,10
6,550135,1,prior,7,1,9,20.0,196,1,1,Soda,77,7,9.0,both,Regular busy,Busiest days,Busiest days,Average orders,10
7,3108588,1,prior,8,1,14,14.0,196,2,1,Soda,77,7,9.0,both,Regular busy,Busiest days,Busiest days,Most orders,10
8,2295261,1,prior,9,1,16,0.0,196,4,1,Soda,77,7,9.0,both,Regular busy,Busiest days,Busiest days,Average orders,10
9,2550362,1,prior,10,4,8,30.0,196,1,1,Soda,77,7,9.0,both,Least busy,Slowest days,Slowest days,Average orders,10
10,2968173,15,prior,15,1,9,7.0,196,2,0,Soda,77,7,9.0,both,Regular busy,Busiest days,Busiest days,Average orders,22
11,1870022,15,prior,17,2,16,8.0,196,6,1,Soda,77,7,9.0,both,Regular busy,Regularly days,Regularly days,Average orders,22
12,1911383,15,prior,18,2,11,7.0,196,1,1,Soda,77,7,9.0,both,Regular busy,Regularly days,Regularly days,Most orders,22
13,2715276,15,prior,21,1,9,7.0,196,1,1,Soda,77,7,9.0,both,Regular busy,Busiest days,Busiest days,Average orders,22
14,487368,15,prior,22,1,10,14.0,196,1,1,Soda,77,7,9.0,both,Regular busy,Busiest days,Busiest days,Most orders,22

In [15]:
# Deriving coulmns with loc()
ords_prods_merge.loc[ords_prods_merge['max_order'] > 40, 'loyalty_flag'] = 'Loyal customer'

In [16]:
ords_prods_merge.loc[(ords_prods_merge['max_order'] <= 40) & (ords_prods_merge['max_order'] > 10), 'loyalty_flag'] = 'Regular customer'

In [17]:
ords_prods_merge.loc[ords_prods_merge['max_order'] <= 10, 'loyalty_flag'] = 'New customer'

In [18]:
ords_prods_merge['loyalty_flag'].value_counts(dropna = False)

loyalty_flag
Regular customer    15891077
Loyal customer      10293737
New customer         6249398
Name: count, dtype: int64

In [19]:
# checking the columns
ords_prods_merge[['user_id', 'order_number', 'loyalty_flag']].sample(30)

          user_id  order_number      loyalty_flag
19870423    18326             4  Regular customer
10197039     7908            14    Loyal customer
10831344   162817             2  Regular customer
17487346   189577            25    Loyal customer
9502579     29044             2      New customer
27374545   148091             2      New customer
31111045    58768            13  Regular customer
28214550    58239             3  Regular customer
13796052    29901             2      New customer
17687566   180805             5      New customer
27215261   140893             3  Regular customer
18842509   174457            15    Loyal customer
18692124   153069            28  Regular customer
6098836    190806            14  Regular customer
9310765    140839            10      New customer
21578892   163152             1      New customer
229238      89212            15  Regular customer
15624968   120272             3      New customer
13469933   135129             1  Regular customer
16983552    50807             4      New customer
3267618    158300             4  Regular customer
9765338     77886             7  Regular customer
23478789   132673            23  Regular customer
6864656     80236             8    Loyal customer
188157      67260            32    Loyal customer
7678014    140891             2      New customer
9451351     74513             6      New customer
17147544   106839            21  Regular customer
22093909    68872            14  Regular customer
15691887   103206            55    Loyal customer

### 3. Find the mean of product prices by loyalty group.

In [20]:
# Group by "prices" 
ords_prods_merge.groupby('prices')

In [21]:
# Split the data into groups by "loyalty_flag" and then calculate the mean for each "prices" column
ords_prods_merge.groupby('loyalty_flag').agg({'prices': ['mean']})

                     prices
                       mean
loyalty_flag
Loyal customer    10.388747
New customer      13.294370
Regular customer  12.496203

### 4. Create spending flag for each user based on average price of products across orders.

In [22]:
# Group data by "user_id" column, generate mean product price for each user, create "mean_price" for aggregation results
ords_prods_merge['mean_price'] = ords_prods_merge.groupby(['user_id'])['prices'].transform(np.mean)

In [23]:
# Check grouping
ords_prods_merge.head(100)

,order_id,user_id,eval_set,order_number,orders_day_of_week,order_hour_of_day,days_since_last_order,product_id,add_to_cart_order,reordered,...,department_id,prices,_merge,busiest_day,Busiest_days,busiest_days,busiest_period_of_day,max_order,loyalty_flag,mean_price
0,2539329,1,prior,1,2,8,NaN,196,1,0,...,7,9.0,both,Regular busy,Regularly days,Regularly days,Average orders,10,New customer,6.367797
1,2398795,1,prior,2,3,7,15.0,196,1,1,...,7,9.0,both,Regular busy,Slowest days,Slowest days,Average orders,10,New customer,6.367797
2,473747,1,prior,3,3,12,21.0,196,1,1,...,7,9.0,both,Regular busy,Slowest days,Slowest days,Most orders,10,New customer,6.367797
3,2254736,1,prior,4,4,7,29.0,196,1,1,...,7,9.0,both,Least busy,Slowest days,Slowest days,Average orders,10,New customer,6.367797
4,431534,1,prior,5,4,15,28.0,196,1,1,...,7,9.0,both,Least busy,Slowest days,Slowest days,Most orders,10,New customer,6.367797
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,3226575,360,prior,1,5,12,NaN,196,1,0,...,7,9.0,both,Regular busy,Regularly days,Regularly days,Most orders,3,New customer,10.006250
96,1469869,377,prior,3,5,17,3.0,196,9,0,...,7,9.0,both,Regular busy,Regularly days,Regularly days,Average orders,3,New customer,8.496552
97,1927023,387,prior,2,4,10,22.0,196,3,0,...,7,9.0,both,Least busy,Slowest days,Slowest days,Most orders,8,New customer,7.396610
98,858092,420,prior,4,1,19,30.0,196,2,0,...,7,9.0,both,Regular busy,Busiest days,Busiest days,Average orders,22,Regular customer,7.657813
99,119314,420,prior,5,3,19,16.0,196,2,1,...,7,9.0,both,Regular busy,Slowest days,Slowest days,Average orders,22,Regular customer,7.657813

In [24]:
# Create flags to assign "spending" labels to user ID based on mean product price
ords_prods_merge.loc[ords_prods_merge['mean_price'] < 10, 'spending_flag'] = 'Low spender'

In [25]:
ords_prods_merge.loc[ords_prods_merge['mean_price'] >= 10, 'spending_flag'] = 'High spender'

In [26]:
# Check frequencies of spending flags for accuracy
ords_prods_merge['spending_flag'].value_counts(dropna = False)

spending_flag
Low spender     31798751
High spender      635461
Name: count, dtype: int64

### 5. Create order frequency flag that indicates users' ordering behavior.

In [28]:
# Group data by "user_id" column, generate median product of "days since prior order, create "median_days" for aggregation results
ords_prods_merge['median_days'] = ords_prods_merge.groupby(['user_id'])['days_since_last_order'].transform(np.median)

In [29]:
# Check grouping
ords_prods_merge.head(100)

,order_id,user_id,eval_set,order_number,orders_day_of_week,order_hour_of_day,days_since_last_order,product_id,add_to_cart_order,reordered,...,_merge,busiest_day,Busiest_days,busiest_days,busiest_period_of_day,max_order,loyalty_flag,mean_price,spending_flag,median_days
0,2539329,1,prior,1,2,8,NaN,196,1,0,...,both,Regular busy,Regularly days,Regularly days,Average orders,10,New customer,6.367797,Low spender,20.5
1,2398795,1,prior,2,3,7,15.0,196,1,1,...,both,Regular busy,Slowest days,Slowest days,Average orders,10,New customer,6.367797,Low spender,20.5
2,473747,1,prior,3,3,12,21.0,196,1,1,...,both,Regular busy,Slowest days,Slowest days,Most orders,10,New customer,6.367797,Low spender,20.5
3,2254736,1,prior,4,4,7,29.0,196,1,1,...,both,Least busy,Slowest days,Slowest days,Average orders,10,New customer,6.367797,Low spender,20.5
4,431534,1,prior,5,4,15,28.0,196,1,1,...,both,Least busy,Slowest days,Slowest days,Most orders,10,New customer,6.367797,Low spender,20.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,3226575,360,prior,1,5,12,NaN,196,1,0,...,both,Regular busy,Regularly days,Regularly days,Most orders,3,New customer,10.006250,High spender,4.0
96,1469869,377,prior,3,5,17,3.0,196,9,0,...,both,Regular busy,Regularly days,Regularly days,Average orders,3,New customer,8.496552,Low spender,16.5
97,1927023,387,prior,2,4,10,22.0,196,3,0,...,both,Least busy,Slowest days,Slowest days,Most orders,8,New customer,7.396610,Low spender,8.0
98,858092,420,prior,4,1,19,30.0,196,2,0,...,both,Regular busy,Busiest days,Busiest days,Average orders,22,Regular customer,7.657813,Low spender,7.0
99,119314,420,prior,5,3,19,16.0,196,2,1,...,both,Regular busy,Slowest days,Slowest days,Average orders,22,Regular customer,7.657813,Low spender,7.0

In [30]:
# Create flags to assign "freqency" labels to user ID based on median days since prior order
ords_prods_merge.loc[ords_prods_merge['median_days'] > 20, 'frequency_flag'] = 'Non-frequent customer'

In [31]:
ords_prods_merge.loc[(ords_prods_merge['median_days'] > 10) & (ords_prods_merge['median_days'] <= 20), 'frequency_flag'] = 'Regular customer'

In [32]:
ords_prods_merge.loc[ords_prods_merge['median_days'] <= 10, 'frequency_flag'] = 'Frequent customer'

In [33]:
# Check frequencies of spending flags for accuracy
ords_prods_merge['frequency_flag'].value_counts(dropna=False)

frequency_flag
Frequent customer        21577409
Regular customer          7217134
Non-frequent customer     3639669
Name: count, dtype: int64

In [34]:
# Examining the null values
print(ords_prods_merge[ords_prods_merge.frequency_flag.isnull()])

Empty DataFrame
Columns: [order_id, user_id, eval_set, order_number, orders_day_of_week, order_hour_of_day, days_since_last_order, product_id, add_to_cart_order, reordered, product_name, aisle_id, department_id, prices, _merge, busiest_day, Busiest_days, busiest_days, busiest_period_of_day, max_order, loyalty_flag, mean_price, spending_flag, median_days, frequency_flag]
Index: []

[0 rows x 25 columns]

#### The null values for the "frequency_flag" column are all due to the fact that this customer only had one order, so median days can't be calculated. Therefore, this customer can be categorized as a "Non-frequent customer."

In [35]:
# Changing the null values in "frequency_flag" column to "Non-frequent customer"
ords_prods_merge['frequency_flag'].fillna("Non-frequent customer", inplace = True)

In [36]:
ords_prods_merge['frequency_flag'].value_counts(dropna=False)

frequency_flag
Frequent customer        21577409
Regular customer          7217134
Non-frequent customer     3639669
Name: count, dtype: int64

In [37]:
# Export data to pkl
ords_prods_merge.to_pickle(os.path.join(path, '02 Data','Prepared Data', 'orders_products_aggregated.pkl'))